/*
0-600px:      Phone
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
[1200-1800px] Is where owr normal styles apply
1800px + :    Big desktop

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desk

ORDER of Responsive Adjustments: Base + Typography > 
                                 General layout + Grid > 
                                 Page layout > 
                                 Components

1em = 16px 
*/
:root {
  --white: rgba(255, 255, 255, 1);
  --grey-1: rgba(224, 227, 235, 1);
  --grey-2: rgba(136, 139, 151, 1);
  --grey-3: rgba(98, 102, 135, 1);
  --primary-light: rgba(209, 250, 229, 1);
  --primary: rgba(16, 185, 129, 1);
  --primary-dark: rgba(11, 149, 103, 1);
  --secondary: rgba(245, 158, 11, 1);
  --black: rgba(27, 28, 87, 1);
  --black-form: #0c1930;
  --danger: rgba(239, 68, 68, 1);
  --danger-light: rgba(254, 226, 226, 1);
  --info: rgba(29, 78, 216, 1);
  --info-light: rgba(219, 234, 254, 1);
  --neutral-100: rgba(240, 243, 253, 1);
  --neutral-700: rgba(60, 69, 99, 1);
  --grey-117: rgba(117, 117, 117, 1);
  --shadow: 0px 8px 32px 0px rgba(12, 21, 55, 0.09);
  --shadow-2: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
  --shadow-IG-post: 0px 11px 48px 0px rgba(51, 51, 51, 0.06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: var(--primary-light);
  color: var(--grey-2); }

:root {
  --lexend: 'Lexend', sans-serif; }

.font-heading-1 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize; }

.font-heading-1-mobile {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 8.4rem; }

.font-heading-2 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize; }

.font-heading-3 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize; }

.font-heading-4 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize; }

.font-subtitle {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  text-transform: capitalize; }

.font-body-light {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: center; }

.font-body-medium {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-transform: capitalize; }

.font-body-semibold {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: capitalize; }

.font-label {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center; }

.font-label-small {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: capitalize; }

.font-label-medium {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center; }

.font-label-semibold {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: capitalize; }

.font-placeholder {
  color: var(--grey-3, #626687);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem; }

.font-form {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem; }

.font-btn {
  min-width: 7rem;
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  text-transform: capitalize; }

.font-color-white {
  color: var(--white, #FFF); }

.font-color-grey-1 {
  color: var(--grey-1, #e0e3eb); }

.font-color-grey-2 {
  color: var(--grey-2, #888B97); }

.font-color-grey-117 {
  color: var(--grey-117, #757575); }

.font-color-grey-3 {
  color: var(--grey-3, #626687); }

.font-color-neutral-700 {
  color: var(--neutral-700, #3C4563); }

.font-color-black-form {
  color: var(--black-form, #0C1930); }

.font-color-primary {
  color: var(--primary, #10B981); }

.font-color-primary-dark {
  color: var(--primary-dark, #0B9567); }

.font-color-secondary {
  color: var(--secondary, #F59E0B); }

.font-color-danger {
  color: var(--danger, #EF4444); }

.font-color-info {
  color: var(--info, #1d4ed8); }

.btn-primary {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  background: var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-primary:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transition: all 0.1s; }
  .btn-primary:active {
    border: 1px solid var(--primary-light, #d1fae5);
    background: var(--primary-light, #d1fae5);
    transform: scale(0.9);
    transition: all 0.1s; }
    .btn-primary:active span {
      color: var(--primary, #10b981);
      transition: all 0.1s; }
    .btn-primary:active path {
      fill: var(--primary, #10b981);
      transition: all 0.1s; }

.btn-primary-arrow {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  background: var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-primary-arrow:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transition: all 0.1s; }

.btn-outline {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--primary-dark, #0b9567);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-outline:hover {
    border: 1px solid var(--primary, #10b981);
    background: var(--primary-light, #d1fae5);
    transition: all 0.1s; }
  .btn-outline:focus {
    background: var(--primary-light, #d1fae5);
    border: 1px solid var(--primary-light, #d1fae5);
    transition: all 0.1s; }
    .btn-outline:focus span {
      color: var(--primary, #10b981);
      transition: all 0.1s; }
    .btn-outline:focus path {
      fill: var(--primary, #10b981);
      transition: all 0.1s; }
  .btn-outline:active {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transform: scale(0.9);
    transition: all 0.1s; }
    .btn-outline:active path {
      fill: var(--white, #fff);
      transition: all 0.1s; }
    .btn-outline:active span {
      color: var(--white, #fff);
      transition: all 0.1s; }

.btn-outline-arrow {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-outline-arrow:hover {
    border: 1px solid var(--primary, #10b981);
    background: var(--primary-light, #d1fae5);
    transition: all 0.1s; }
  .btn-outline-arrow:active {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transform: scale(0.9);
    transition: all 0.1s; }
    .btn-outline-arrow:active path {
      fill: var(--white, #fff);
      transition: all 0.1s; }

.btn-dropdown {
  width: max-content;
  display: flex;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
  border: 1px solid var(--white, #fff);
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-dropdown:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-light, #d1fae5);
    color: var(--primary-dark, #0b9567);
    transform: scale(1.25);
    transition: all 0.1s; }
    .btn-dropdown:hover path {
      fill: var(--primary-dark, #0b9567);
      transition: all 0.1s; }
    .btn-dropdown:hover span {
      transform: scale(0.83);
      transition: all 0s; }
  .btn-dropdown:active {
    background: var(--primary-light, #d1fae5);
    border: 1px solid var(--primary, #10b981);
    transition: all 0.1s; }
    .btn-dropdown:active path {
      fill: var(--primary, #10b981);
      transition: all 0.1s; }
    .btn-dropdown:active span {
      color: var(--primary, #10b981);
      transition: all 0.1s; }

.label-danger {
  display: inline-flex;
  padding: 0.8rem 1.6rem;
  border-radius: 3.2rem;
  border: 1px solid var(--danger-light, #FEE2E2);
  background: var(--danger-light, #FEE2E2);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer; }

.label-info {
  display: inline-flex;
  padding: 0.8rem 1.6rem;
  border-radius: 3.2rem;
  border: 1px solid var(--info-light, #DBEAFE);
  background: var(--info-light, #DBEAFE);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer; }

.label-primary-light {
  display: inline-flex;
  padding: 0.8rem 1.6rem;
  border-radius: 3.2rem;
  border: 1px solid var(--primary-light, #D1FAE5);
  background: var(--primary-light, #D1FAE5);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer; }

.input-complex {
  display: flex;
  justify-content: space-between;
  width: 49.6rem;
  padding: 0.4rem 0.4rem 0.4rem 2.4rem;
  border-radius: 2.8rem;
  border: 1px solid var(--grey-1, #e0e3eb);
  background: var(--white, #fff);
  align-items: center;
  gap: 1.6rem; }

.input {
  display: flex;
  width: 49.6rem;
  padding: 1.6rem 2.4rem;
  border-radius: 2.8rem;
  border: 1px solid var(--grey-1, #e0e3eb);
  background: #fff;
  align-items: center;
  gap: 1.6rem; }

.input-textarea {
  display: flex;
  width: 49.6rem;
  height: 14.4rem;
  padding: 1.6rem 2.4rem;
  align-items: flex-start;
  gap: 1.6rem;
  border-radius: 2.8rem;
  border: 1px solid var(--grey-1, #e0e3eb);
  background: #fff; }

.heading-center {
  display: flex;
  flex-direction: column; }
  .heading-center__label-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem; }
    .heading-center__label-group__line {
      width: 3.2rem;
      height: 0.1rem;
      background: var(--secondary, #f59e0b);
      margin-top: 0.8rem; }
    .heading-center__label-group__title {
      color: var(--secondary, #f59e0b); }
  .heading-center__heading {
    margin-top: 0.7rem;
    width: 58rem;
    text-align: center; }

.heading-left {
  display: flex;
  flex-direction: column;
  gap: 0.6rem; }
  .heading-left__label-group {
    margin-left: -4rem;
    display: flex;
    gap: .8rem; }
    .heading-left__label-group__line {
      width: 3.2rem;
      height: 0.1rem;
      background: var(--secondary, #f59e0b);
      margin-top: .8rem; }
    .heading-left__label-group__title {
      color: var(--secondary, #f59e0b); }

.house-card {
  position: relative;
  display: flex;
  width: 37.6rem;
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  flex-direction: column;
  gap: 2.4rem; }
  .house-card__img-frame {
    width: 37.6rem;
    height: 38.2rem;
    border-radius: 2.4rem;
    overflow: hidden;
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat; }
  .house-card__label {
    position: absolute;
    left: 1.6rem;
    top: 33.2rem; }
    .house-card__label__icon {
      width: 1.6rem;
      height: 1.6rem; }
  .house-card__info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
    .house-card__info__house {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem; }
  .house-card:hover {
    cursor: pointer;
    transform: translateY(-0.5rem) scale(1.01);
    transition: all 0.5s; }

.info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .info__contact {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
    .info__contact__img {
      width: 4rem;
      height: 4rem;
      border-radius: 4rem; }
    .info__contact__data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem; }

.feedback-author {
  display: flex;
  align-items: center;
  gap: 1.6rem; }
  .feedback-author__img {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem; }
  .feedback-author__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem; }

.tour__contact {
  display: flex;
  align-items: center;
  gap: 1.6rem; }
  .tour__contact__img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 5.6rem; }
  .tour__contact__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem; }

.review-card {
  display: flex;
  flex-direction: column;
  width: 78.4rem; }
  .review-card__img-frame {
    display: flex;
    height: 42.9rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.8rem; }
  .review-card__feedback-box {
    margin-top: -16.8rem;
    align-self: center;
    display: flex;
    width: 61.2rem;
    padding: 3.2rem;
    border-radius: 1.6rem;
    box-shadow: 0px 8px 32px 0px rgba(12, 21, 55, 0.09);
    background: var(--white, #fff);
    flex-direction: column;
    gap: 2.4rem; }
    .review-card__feedback-box__feedback {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem; }
      .review-card__feedback-box__feedback__title {
        width: 54.8rem; }
      .review-card__feedback-box__feedback__message {
        width: 54.8rem;
        height: 7.2rem;
        text-align: left; }
    .review-card__feedback-box__author {
      display: flex;
      width: 54.8rem;
      justify-content: space-between;
      align-items: center; }
      .review-card__feedback-box__author__rating {
        display: flex;
        justify-content: space-between;
        height: 2.5rem;
        gap: 1.6rem; }
        .review-card__feedback-box__author__rating__star {
          width: 2.4rem;
          height: 2.4rem; }
  .review-card:hover {
    cursor: pointer;
    transform: translateY(-0.5rem) scale(1.01);
    transition: all 0.5s; }
    .review-card:hover div.review-card__feedback-box {
      transform: translateY(0.5rem) scale(1.04);
      transition: all 0.5s; }

.article-small {
  display: flex;
  width: 58rem;
  align-items: center;
  gap: 3.2rem; }
  .article-small .img-frame {
    display: flex;
    width: 20rem;
    height: 14.8rem;
    overflow: hidden;
    border-radius: 1.6rem;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat; }
  .article-small .info {
    display: flex;
    width: 34.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem; }
    .article-small .info__heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem; }
      .article-small .info__heading__author {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 1.6rem; }
        .article-small .info__heading__author__avatar {
          width: 3.2rem;
          border-radius: 3.2rem;
          box-shadow: var(--shadow-2); }
      .article-small .info__heading__title {
        text-align: left; }
      .article-small .info__heading__paragraph {
        display: none; }
    .article-small .info__details {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
      .article-small .info__details__icon {
        width: 2.4rem;
        height: 2.4rem; }
  .article-small:hover {
    cursor: pointer;
    transform: translateY(-0.5rem) scale(1.01);
    transition: all 0.5s; }

.article-large {
  display: flex;
  max-width: 58rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem; }
  .article-large .img-frame {
    display: flex;
    width: 58rem;
    height: 28rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    background-color: #c4c4c4;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat; }
  .article-large .info {
    display: flex;
    max-width: 58rem;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem; }
    .article-large .info__heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 1.2rem; }
      .article-large .info__heading__author {
        display: flex;
        width: 34.8rem;
        align-items: center;
        gap: 1.6rem; }
        .article-large .info__heading__author__avatar {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          box-shadow: var(--shadow-2); }
      .article-large .info__heading__paragraph {
        text-align: left; }
    .article-large .info__details {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
      .article-large .info__details__icon {
        width: 2.4rem;
        height: 2.4rem; }

.cookie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; }
  .cookie-container .cookie-banner {
    display: flex;
    width: 46.5rem;
    padding: 1.6rem 4rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.8rem;
    background: var(--primary-light, #d1fae5); }
    .cookie-container .cookie-banner__message {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
    .cookie-container .cookie-banner__btn-close-cookie {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer; }

.container {
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden; }

.footer-section {
  display: flex;
  justify-content: center;
  padding: 12rem 0; }
  .footer-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 144rem;
    padding: 0 12.4rem; }
    @media only screen and (min-width: 112.5em) {
      .footer-section__content {
        width: 168rem; } }
    .footer-section__content .left {
      display: flex;
      width: 37.6rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem; }
      .footer-section__content .left__logo {
        width: 11.5rem;
        height: 3.6rem;
        cursor: pointer; }
      .footer-section__content .left__text-box {
        display: flex;
        width: 37.6rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem; }
        .footer-section__content .left__text-box__paragraph {
          text-align: left; }
        .footer-section__content .left__text-box__icons {
          display: flex;
          align-items: flex-start;
          gap: 2.4rem; }
          .footer-section__content .left__text-box__icons__icon {
            cursor: pointer; }
            .footer-section__content .left__text-box__icons__icon:hover path {
              fill: var(--info); }
            .footer-section__content .left__text-box__icons__icon:active {
              transform: scale(0.9);
              transition: all 0.1s; }
              .footer-section__content .left__text-box__icons__icon:active path {
                fill: var(--info-light); }
    .footer-section__content .right {
      display: inline-flex;
      align-items: flex-start;
      gap: 3.2rem; }
      .footer-section__content .right__col {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem; }
        .footer-section__content .right__col__title {
          width: 17.2rem;
          text-align: left; }
        .footer-section__content .right__col__list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.6rem;
          list-style: none; }
          .footer-section__content .right__col__list__item {
            cursor: pointer; }
            .footer-section__content .right__col__list__item:hover {
              color: var(--secondary); }
            .footer-section__content .right__col__list__item:active {
              transform: scale(1.1);
              transition: all 0.1s;
              color: var(--info-light); }

header {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  max-width: 144rem; }
  @media only screen and (min-width: 112.5em) {
    header {
      max-width: 168rem; } }
  header .nav {
    margin-bottom: -11.4rem;
    display: flex;
    padding: 3.9rem 12.4rem;
    justify-content: space-between;
    align-items: center; }
    header .nav__logo {
      cursor: pointer; }
      @media only screen and (min-width: 112.5em) {
        header .nav__logo {
          width: 11.5rem;
          height: 3.6rem; } }
      @media only screen and (min-width: 137.5em) {
        header .nav__logo {
          width: 11.5rem;
          height: 3.6rem; } }
    header .nav__btns {
      width: 52rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.4rem; }
      header .nav__btns__btn span {
        min-width: 7rem; }

.hero-section {
  display: flex;
  justify-content: flex-end;
  height: 72rem; }
  @media only screen and (min-width: 137.5em) {
    .hero-section {
      height: 79.2rem; } }
  .hero-section__blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .hero-section__content {
    width: 100%;
    display: flex; }
    @media only screen and (min-width: 112.5em) {
      .hero-section__content {
        padding: 0 12.4rem; } }
    .hero-section__content .left-side {
      width: 144rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      margin: 0 auto;
      padding: 0 12.4rem; }
      @media only screen and (min-width: 112.5em) {
        .hero-section__content .left-side {
          margin: 0 auto;
          padding: 0; } }
      .hero-section__content .left-side .text-group {
        width: max-content;
        height: 43.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10rem;
        z-index: 1; }
        .hero-section__content .left-side .text-group__title {
          width: 49.6rem;
          margin-bottom: 2.4rem;
          text-align: left; }
        .hero-section__content .left-side .text-group__subtitle {
          width: 49.6rem;
          opacity: 0.75;
          color: var(--grey-3, #626687);
          text-align: left; }
        .hero-section__content .left-side .text-group__search {
          margin: 3.2rem 0; }
          .hero-section__content .left-side .text-group__search__input {
            flex: 1 0 0;
            border: none;
            outline: none; }
            .hero-section__content .left-side .text-group__search__input::placeholder {
              color: var(--grey-2, #888b97);
              font-family: var(--lexend);
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: 2.2rem; }
        .hero-section__content .left-side .text-group .partners-group {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 49.6rem;
          height: 9.6rem; }
          .hero-section__content .left-side .text-group .partners-group__title {
            color: var(--grey-2, #888b97);
            text-align: left; }
          .hero-section__content .left-side .text-group .partners-group__logos {
            width: 42.7rem;
            height: 6.4rem;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: 3.2rem; }
            .hero-section__content .left-side .text-group .partners-group__logos__logo {
              width: 8.275rem;
              cursor: pointer; }
  .hero-section .right-side {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0rem 0rem 0rem 8rem;
    overflow: hidden; }
    @media only screen and (min-width: 112.5em) {
      .hero-section .right-side {
        width: auto; } }
    .hero-section .right-side__img-group {
      width: 89.2rem;
      height: 72rem;
      border-radius: 0rem 0rem 0rem 8rem;
      background-color: lightgray;
      background-position: -49.239px -4.186px;
      background-size: 107.9% 112.25%;
      background-repeat: no-repeat; }
      @media only screen and (min-width: 112.5em) {
        .hero-section .right-side__img-group {
          width: 75rem;
          background-position: -31.24px -4.186px;
          background-size: 108% 112.25%; } }
      @media only screen and (min-width: 137.5em) {
        .hero-section .right-side__img-group {
          width: 90rem;
          height: 79.2rem; } }
      .hero-section .right-side__img-group__lines-group {
        width: 56.2rem;
        height: 34.8rem;
        left: 9.2rem;
        top: 13.85rem;
        position: absolute; }
        @media only screen and (min-width: 112.5em) {
          .hero-section .right-side__img-group__lines-group {
            width: 47.5rem; } }
        @media only screen and (min-width: 137.5em) {
          .hero-section .right-side__img-group__lines-group {
            width: 57rem;
            height: 38.3rem;
            left: 11.6rem;
            top: 15.3rem; } }
    .hero-section .right-side .stats {
      position: absolute;
      display: inline-flex;
      align-items: flex-start;
      gap: 1.6rem;
      left: 4.8rem;
      bottom: 4.8rem; }
      .hero-section .right-side .stats__item {
        display: flex;
        padding: 2.4rem;
        justify-content: space-between;
        align-items: center;
        gap: 1.6rem;
        border-radius: 3.2rem;
        background: #fff;
        width: max-content;
        cursor: pointer; }
        .hero-section .right-side .stats__item__avatars {
          display: flex;
          justify-content: space-between;
          width: 11.2rem; }
        .hero-section .right-side .stats__item__avatar {
          width: 5.6rem;
          height: 5.6rem;
          border-radius: 5.6rem;
          border: 3px solid #fff;
          box-shadow: var(--shadow-2); }
        .hero-section .right-side .stats__item__avatar:nth-child(2), .hero-section .right-side .stats__item__avatar:nth-child(3) {
          margin-left: -3rem; }
        .hero-section .right-side .stats__item__info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.2rem;
          flex-shrink: 0; }
          .hero-section .right-side .stats__item__info__description {
            color: var(--grey-2, #888b97); }
        .hero-section .right-side .stats__item:hover {
          cursor: pointer;
          transform: translateY(-0.5rem) scale(1.01);
          transition: all 0.5s; }
    .hero-section .right-side .pagination {
      position: absolute;
      bottom: 1.8rem;
      left: 8rem; }
      .hero-section .right-side .pagination dot {
        cursor: pointer; }

.featured-house-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 144rem;
  padding-top: 12rem; }
  @media only screen and (min-width: 112.5em) {
    .featured-house-section {
      max-width: 168rem; } }
  .featured-house-section .heading-group {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 12.4rem; }
    .featured-house-section .heading-group .categories {
      display: flex;
      align-items: flex-start;
      gap: 2.7rem; }
      .featured-house-section .heading-group .categories__btn__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem; }
        .featured-house-section .heading-group .categories__btn__group__icon {
          width: 2.4rem;
          height: 2.4rem; }
        .featured-house-section .heading-group .categories__btn__group__text {
          min-width: auto; }
    .featured-house-section .heading-group .slider-btns {
      display: flex;
      justify-content: space-between;
      gap: 1.6rem; }
      .featured-house-section .heading-group .slider-btns__left {
        height: 4.8rem;
        width: 4.8rem; }
      .featured-house-section .heading-group .slider-btns__right {
        height: 4.8rem;
        width: 4.8rem; }
  .featured-house-section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 144rem;
    padding: 0 12.4rem; }
    @media only screen and (min-width: 112.5em) {
      .featured-house-section__content {
        max-width: 168rem; } }
    .featured-house-section__content .houses-slider {
      width: max-content;
      display: flex;
      gap: 3.2rem;
      margin-top: 4rem;
      position: relative;
      transition: transform 0.3s ease; }

.tour-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 12rem;
  height: 45.9rem; }
  .tour-section__blur-bg {
    position: absolute;
    right: 0;
    bottom: 8.8rem;
    z-index: -1; }
  .tour-section__content {
    display: flex;
    width: 144rem;
    justify-content: space-between;
    padding: 0 12.4rem; }
    @media only screen and (min-width: 112.5em) {
      .tour-section__content {
        width: 168rem; } }
    .tour-section__content .info-group {
      display: flex;
      flex-direction: column;
      width: 52.4rem; }
      .tour-section__content .info-group__description {
        width: 41.3rem;
        text-align: left;
        margin-top: 1.6rem; }
      .tour-section__content .info-group__house-details {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--grey-1, #e0e3eb);
        width: 47.8rem; }
        .tour-section__content .info-group__house-details__title {
          align-self: start;
          margin: 2.4rem 0; }
        .tour-section__content .info-group__house-details__rows {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          padding-bottom: 3.2rem; }
          .tour-section__content .info-group__house-details__rows__row {
            max-width: 44rem;
            align-items: flex-start;
            gap: 5.3rem;
            display: flex; }
            .tour-section__content .info-group__house-details__rows__row__detail {
              display: flex;
              align-items: center;
              gap: 1.6rem;
              flex: 1 0 0; }
              .tour-section__content .info-group__house-details__rows__row__detail__icons {
                display: flex;
                width: 3.2rem;
                height: 3.2rem;
                justify-content: center;
                align-items: center; }
      .tour-section__content .info-group .CTA {
        display: flex;
        justify-content: space-between;
        width: 47.8rem;
        margin-top: 3.2rem; }
        .tour-section__content .info-group .CTA__btn {
          align-self: flex-end; }
    .tour-section__content .composition {
      width: 52.8rem;
      height: 45.9rem;
      position: relative; }
      .tour-section__content .composition__video {
        position: absolute;
        top: 0;
        right: 0; }
        .tour-section__content .composition__video:hover {
          cursor: pointer;
          transform: translateY(-0.5rem) scale(1.06);
          z-index: 2;
          transition: all 0.5s; }
        .tour-section__content .composition__video:active {
          transform: scale(1);
          transition: all 0.1s; }
        .tour-section__content .composition__video__img {
          width: 47.8rem;
          height: 41.6rem; }
        .tour-section__content .composition__video__play-btn {
          position: absolute;
          right: 22rem;
          top: 18.4rem;
          z-index: 10; }
          .tour-section__content .composition__video__play-btn:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.5s; }
          .tour-section__content .composition__video__play-btn:active {
            transform: scale(0.9);
            transition: all 0.1s; }
      .tour-section__content .composition__sofa {
        position: absolute;
        width: 29.6rem;
        height: 16.8rem;
        left: 0;
        bottom: 0;
        display: flex;
        width: 29.6rem;
        height: 16.8rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem; }
        .tour-section__content .composition__sofa:hover {
          cursor: pointer;
          transform: translateY(-1.6rem) translateX(-4rem) scale(1.2);
          z-index: 2;
          transition: all 0.5s; }
      .tour-section__content .composition__vase {
        position: absolute;
        right: 12.4rem;
        bottom: 0;
        display: flex;
        width: 9.6rem;
        height: 8rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem; }
        .tour-section__content .composition__vase:hover {
          cursor: pointer;
          transform: translateY(1rem) translateX(-1.8rem) scale(1.6);
          z-index: 2;
          transition: all 0.5s; }
      .tour-section__content .composition__chair {
        position: absolute;
        right: 2rem;
        bottom: 0;
        display: flex;
        width: 9.6rem;
        height: 8rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem; }
        .tour-section__content .composition__chair:hover {
          cursor: pointer;
          transform: translateY(-3.2rem) translateX(5rem) scale(1.8);
          z-index: 2;
          transition: all 0.5s; }

.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  overflow: hidden; }
  .testimonials-section .reviews-slider {
    margin-bottom: 3.3rem;
    display: inline-flex;
    align-items: flex-start;
    gap: 3.2rem;
    margin-top: 4rem; }
  .testimonials-section .pagination .dot {
    cursor: pointer; }

.find-more-section {
  display: flex;
  padding-top: 12rem; }
  .find-more-section__blur-bg {
    display: flex;
    align-self: start;
    margin-top: -15rem;
    position: absolute;
    z-index: -1; }
  .find-more-section__btn {
    margin: 0 auto;
    width: max-content;
    margin-top: 1.6rem; }
  .find-more-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 144rem;
    margin: 0 auto; }
    @media only screen and (min-width: 112.5em) {
      .find-more-section__content {
        width: 168rem;
        padding: 0; } }
    .find-more-section__content .articles-box {
      display: flex;
      justify-content: space-between;
      margin-top: 4.8rem;
      width: 100%;
      padding: 0 12.4rem; }
      .find-more-section__content .articles-box__left {
        display: flex;
        flex-direction: column;
        gap: 3.2rem; }
        .find-more-section__content .articles-box__left .article-small.hidden {
          display: none; }

.subscribe-section {
  display: flex;
  justify-content: center;
  margin-top: 12rem; }
  .subscribe-section__content {
    width: 144rem;
    padding: 0 12.4rem; }
    @media only screen and (min-width: 112.5em) {
      .subscribe-section__content {
        width: 168rem; } }
    .subscribe-section__content .subscribe-bg-frame {
      display: flex;
      justify-content: space-between;
      width: auto;
      height: 31.2rem;
      border-radius: 3.2rem;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat; }
      .subscribe-section__content .subscribe-bg-frame .left-composition {
        margin-top: 3.8rem;
        display: flex;
        margin-left: 4rem;
        gap: 7rem; }
        .subscribe-section__content .subscribe-bg-frame .left-composition__col-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.4rem; }
        .subscribe-section__content .subscribe-bg-frame .left-composition__col-2 {
          margin-top: 3.2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 7.1rem; }
      .subscribe-section__content .subscribe-bg-frame .subscription {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin-left: 2.55rem;
        width: 49.6rem;
        gap: 4rem; }
        .subscribe-section__content .subscribe-bg-frame .subscription__heading {
          width: 42.4rem;
          height: 8rem;
          text-align: center; }
        .subscribe-section__content .subscribe-bg-frame .subscription__email {
          position: relative;
          gap: 1.6rem; }
          .subscribe-section__content .subscribe-bg-frame .subscription__email__icon {
            width: 2.4rem;
            height: 2.4rem; }
          .subscribe-section__content .subscribe-bg-frame .subscription__email__input {
            flex: 1 0 0;
            border: none;
            outline: none; }
            .subscribe-section__content .subscribe-bg-frame .subscription__email__input:focus:invalid {
              position: absolute;
              left: 0;
              top: 0;
              width: 49.4rem;
              padding: 1.75rem 2.4rem;
              border-radius: 2.7rem;
              border: 1px solid var(--danger, #ef4444);
              background: #fff; }
            .subscribe-section__content .subscribe-bg-frame .subscription__email__input::placeholder {
              color: var(--grey-2, #888b97);
              font-family: var(--lexend);
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: 2.2rem; }
          .subscribe-section__content .subscribe-bg-frame .subscription__email__label {
            top: 5.5rem;
            left: 2.5rem;
            margin-top: 0.7rem;
            display: block;
            transition: all 0.3s;
            position: absolute;
            color: var(--danger, #ef4444); }
          .subscribe-section__content .subscribe-bg-frame .subscription__email__input:placeholder-shown + label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem); }
          .subscribe-section__content .subscribe-bg-frame .subscription__email__input:valid + label {
            visibility: hidden; }
      .subscribe-section__content .subscribe-bg-frame .right-composition {
        display: flex;
        margin-right: 6.9rem;
        gap: 7.2rem;
        margin-top: 4.4rem; }
        .subscribe-section__content .subscribe-bg-frame .right-composition__col-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2.9rem; }
        .subscribe-section__content .subscribe-bg-frame .right-composition__col-2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.4rem;
          margin-top: 6.3rem; }

.form-section {
  display: flex;
  justify-content: center;
  margin-top: 12rem; }
  .form-section__content {
    display: flex;
    justify-content: space-between;
    width: 144rem;
    padding: 0rem 12.4rem;
    gap: 3.2rem; }
    @media only screen and (min-width: 112.5em) {
      .form-section__content {
        width: 168rem; } }
    .form-section__content .instructions {
      position: relative;
      display: flex;
      width: 47.8rem;
      overflow: hidden;
      padding: 4rem;
      border-radius: 0.8rem;
      box-shadow: var(--shadow);
      background: var(--white, #fff);
      flex-direction: column;
      align-items: center;
      gap: 2.8rem; }
      @media only screen and (min-width: 112.5em) {
        .form-section__content .instructions {
          width: 80%; } }
      .form-section__content .instructions__question {
        max-width: 47.8rem; }
      .form-section__content .instructions__advices {
        display: flex;
        width: 39.8rem;
        height: 22rem;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        z-index: 1; }
        .form-section__content .instructions__advices__line {
          width: 4rem;
          height: 0.2rem;
          border-radius: 0.4rem;
          background: var(--primary, #10b981); }
      .form-section__content .instructions__img-frame {
        width: 26.1rem;
        height: 20.6rem;
        background-position: 100% 100%;
        background-size: 90%;
        background-repeat: no-repeat; }
      .form-section__content .instructions__blur-bg {
        position: absolute;
        top: 22rem; }
    .form-section__content .form {
      display: flex;
      width: 68.2rem;
      padding: 4rem;
      flex-direction: column;
      align-items: center;
      gap: 2.8rem;
      border-radius: 0.8rem;
      background: var(--white, #fff);
      box-shadow: var(--shadow); }
      @media only screen and (min-width: 112.5em) {
        .form-section__content .form {
          width: 100%; } }
      .form-section__content .form__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch; }
        .form-section__content .form__row__label {
          width: 8.9rem; }
        .form-section__content .form__row__input {
          outline: none; }
          .form-section__content .form__row__input::placeholder {
            color: var(--grey-2, #888b97); }
        .form-section__content .form__row__select-input {
          z-index: 2;
          outline: none;
          cursor: pointer; }
          .form-section__content .form__row__select-input::placeholder {
            color: var(--grey-2, #888b97); }
        .form-section__content .form__row .dropdown-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 1.6rem;
          right: 2.4rem;
          border: none;
          background: none;
          z-index: 2;
          cursor: pointer; }
        .form-section__content .form__row .dropdown {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          display: none;
          padding: 6rem 0.8rem 2.4rem 0.8rem;
          border-radius: 2.8rem;
          border: 1px solid var(--grey-1, #e0e3eb);
          background: #fff;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.8rem; }
          .form-section__content .form__row .dropdown__options {
            height: 14.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start; }
            .form-section__content .form__row .dropdown__options__item {
              display: flex;
              border-radius: 2.8rem;
              width: 47.8rem;
              padding: 0.8rem 1.6rem;
              cursor: pointer; }
              .form-section__content .form__row .dropdown__options__item:hover {
                width: 100%;
                background: var(--primary-light, #d1fae5); }
        .form-section__content .form__row__textarea {
          position: relative;
          display: flex;
          align-self: stretch;
          justify-content: space-between; }
          .form-section__content .form__row__textarea__label {
            display: flex;
            width: 8.9rem;
            height: 5.6rem;
            flex-direction: column;
            justify-content: center; }
          .form-section__content .form__row__textarea__input {
            outline: none;
            resize: none;
            margin-left: auto; }
            .form-section__content .form__row__textarea__input::placeholder {
              position: absolute;
              top: 1.5rem;
              color: var(--grey-2, #888b97); }
            .form-section__content .form__row__textarea__input__charCount {
              position: absolute;
              right: 2.4rem;
              bottom: 1.6rem;
              text-align: right; }
      .form-section__content .form__terms {
        display: flex;
        justify-content: flex-end;
        align-self: stretch; }
        .form-section__content .form__terms__content {
          display: flex;
          align-items: flex-start;
          gap: 0.8rem;
          align-self: stretch; }
        .form-section__content .form__terms__checkbox {
          opacity: 0;
          width: 2.4rem;
          height: 2.4rem;
          z-index: 1;
          cursor: pointer; }
          .form-section__content .form__terms__checkbox:checked + .checkbox-styled .checkbox-styled__checkmark {
            opacity: 1; }
          .form-section__content .form__terms__checkbox:checked + .checkbox-styled {
            background: var(--primary, #10b981); }
        .form-section__content .form__terms .checkbox-styled {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 0;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 0.4rem;
          border: 1px solid var(--primary, #10b981);
          background: var(--white, #fff); }
          .form-section__content .form__terms .checkbox-styled__checkmark {
            opacity: 0;
            width: 1.6rem;
            height: 1.6rem; }
            @media only screen and (min-width: 112.5em) {
              .form-section__content .form__terms .checkbox-styled__checkmark {
                width: 1.3rem;
                height: 1.3rem; } }
        .form-section__content .form__terms__text {
          text-align: left;
          max-width: 46.4rem; }
