.article-large {
  display: flex;
  max-width: 58rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;

  .img-frame {
    display: flex;
    width: 58rem;
    height: 28rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;

    background-color: #c4c4c4;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .info {
    display: flex;
    max-width: 58rem;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    
    &__heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 1.2rem;

      &__author {
        display: flex;
        width: 34.8rem;
        align-items: center;
        gap: 1.6rem;

        &__avatar {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          box-shadow: var(--shadow-2);
        }
        // &__name {
        // }
      }
      // &__title {
      // }
      &__paragraph {
        text-align: left;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      &__icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      // &__time-date {
      // }
    }
  }

  // &:hover {
  //   cursor: pointer;
  //   transform: translateY(-.5rem) scale(1.01);
  //   transition: all 0.5s;
  // }
}