.article-small {
  display: flex;
  width: 58rem;
  align-items: center;
  gap: 3.2rem;

  .img-frame {
    display: flex; // ?
    width: 20rem;
    height: 14.8rem;
    overflow: hidden;
    border-radius: 1.6rem;
    justify-content: center;
    align-items: center;

    background-color: #c4c4c4;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .info {
    display: flex;
    width: 34.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    &__heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;

      &__author {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 1.6rem;

        &__avatar {
          width: 3.2rem;
          border-radius: 3.2rem;
          box-shadow: var(--shadow-2);
        }
        // &__name {
        // }
      }
      &__title {
        text-align: left;
      }
      &__paragraph {
        display: none;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      &__icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      // &__time-date {
      // }
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-.5rem) scale(1.01);
    transition: all 0.5s;
  }
}