.btn-primary {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  background: var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transition: all 0.1s;
  }

  &:active {
    border: 1px solid var(--primary-light, #d1fae5);
    background: var(--primary-light, #d1fae5);
    transform: scale(0.9);
    transition: all 0.1s;
    span {
      color: var(--primary, #10b981);
      transition: all 0.1s;
    }
    path {
      fill: var(--primary, #10b981);
      transition: all 0.1s;
    }
  }
}

.btn-primary-arrow {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  background: var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transition: all 0.1s;
  }
}

.btn-outline {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--primary-dark, #0b9567);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary, #10b981);
    background: var(--primary-light, #d1fae5);
    transition: all 0.1s;
  }

  &:focus {
    background: var(--primary-light, #d1fae5);
    border: 1px solid var(--primary-light, #d1fae5);
    transition: all 0.1s;
    span {
      color: var(--primary, #10b981);
      transition: all 0.1s;
    }
    path {
      fill: var(--primary, #10b981);
      transition: all 0.1s;
    }
  }

  &:active {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transform: scale(0.9);
    transition: all 0.1s;
    path {
      fill: var(--white, #fff);
      transition: all 0.1s;
    }
    span {
      color: var(--white, #fff);
      transition: all 0.1s;
    }
  }
}

.btn-outline-arrow {
  display: inline-flex;
  overflow: hidden;
  padding: 1.2rem;
  border-radius: 10rem;
  border: 1px solid var(--primary, #10b981);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary, #10b981);
    background: var(--primary-light, #d1fae5);
    transition: all 0.1s;
  }

  &:active {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-dark, #0b9567);
    transform: scale(0.9);
    transition: all 0.1s;
    path {
      fill: var(--white, #fff);
      transition: all 0.1s;
    }
  }
}

.btn-dropdown {
  width: max-content;
  display: flex;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
  border: 1px solid var(--white, #fff);
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary-dark, #0b9567);
    background: var(--primary-light, #d1fae5);
    color: var(--primary-dark, #0b9567);
    transform: scale(1.25);
    transition: all 0.1s;
    path {
      fill: var(--primary-dark, #0b9567);
      transition: all 0.1s;
    }
    span {
      transform: scale(0.83);
      transition: all 0s;
    }
  }

  &:active {
        background: var(--primary-light, #d1fae5);
    border: 1px solid var(--primary, #10b981);
    transition: all 0.1s;
  
    path {
      fill: var(--primary, #10b981);
      transition: all 0.1s;
    }
    span {
      color: var(--primary, #10b981);
      transition: all 0.1s;
    }
  }
}
