.cookie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  .cookie-banner {
    display: flex;
    width: 46.5rem;
    padding: 1.6rem 4rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.8rem;
    background: var(--primary-light, #d1fae5);
  
    &__message {
      display: flex;
      align-items: center;
      gap: 1.2rem;
  
      &__icon {
      }
      &__text {
      }
    }
  
    &__btn-close-cookie {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      &__icon {
      }
    }
  }
}

