.feedback-author {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 4rem;
    }

    &__data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem;
      &__name {
      }
      &__location {
      }
    }
  }