.house-card {
  position: relative;
  display: flex;
  width: 37.6rem;
  height: auto;
  overflow: hidden;
  border-radius: 0.2rem;
  flex-direction: column;
  gap: 2.4rem;
  
  &__img-frame {
    width: 37.6rem;
    height: 38.2rem;
    border-radius: 2.4rem;
    overflow: hidden;
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__label {
    position: absolute;
    left: 1.6rem;
    top: 33.2rem;
    &__icon {
      width: 1.6rem;
      height: 1.6rem;
    }
    &__text {
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &__house {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
      &__name {
      }
      &__price {
      }
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-.5rem) scale(1.01);
    transition: all 0.5s;
  }
}
