:root {
--lexend: 'Lexend', sans-serif;
}

.font-heading-1 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.font-heading-1-mobile {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 8.4rem;
}

.font-heading-2 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.font-heading-3 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.font-heading-4 {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.font-subtitle {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  text-transform: capitalize;
}

.font-body-light {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.4rem;
  text-align: center;
}

.font-body-medium {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}

.font-body-semibold {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}

.font-label {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  // text-transform: capitalize;
}

.font-label-small {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}

.font-label-medium {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.font-label-semibold {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}
.font-placeholder {
  color: var(--grey-3, #626687);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
}

.font-form {
  color: var(--black, #1B1C57);
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.font-btn {
  min-width: 7rem;
  font-family: var(--lexend);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  text-transform: capitalize;
}


.font-color-white {
  color: var(--white, #FFF);
}
.font-color-grey-1 {
  color: var(--grey-1, #e0e3eb);
}
.font-color-grey-2 {
  color: var(--grey-2, #888B97);
}
.font-color-grey-117 {
  color: var(--grey-117, #757575);
}
.font-color-grey-3 {
  color: var(--grey-3, #626687);
}
.font-color-neutral-700 {
  color: var(--neutral-700, #3C4563);
}
.font-color-black-form {
  color: var(--black-form, #0C1930);
}
.font-color-primary {
  color: var(--primary, #10B981);
}
.font-color-primary-dark {
  color: var(--primary-dark, #0B9567);
}
.font-color-secondary {
  color: var(--secondary, #F59E0B);
}
.font-color-danger {
  color: var(--danger, #EF4444);
}
.font-color-info {
  color: var(--info, #1d4ed8);
}